.filter-body-content {

}
.filter-top {
    align-items: center;
    height: 30px;
    width: 100%;
    display: flex;
}
.filter-bottom {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.pre-time {
    padding: 0 10px 0 5px;
}
.bef-time {
    padding: 0 10px 0 5px;
}
.remove-selected{
    position: absolute;
    right: 10px;
}