 .ant-form-item-label{
    text-align: left;
}
.ant-input-number{
    width: 100%!important;
}
.ant-input-number-input{
    text-align : right;
    padding-right: 26px;
}
.ant-form-item-label{
    overflow: visible;
}
.ant-form-item {
    padding-right: 10px;
}
.ant-modal-header{
    background-color: #00a8ff;
    padding: 10px 24px!important;
}
.ant-modal-title{
    color : #fff;
}
.ant-modal-close-x{
    line-height: 40px;
}
.sel-flex .ant-form-item{

}
.ant-form-item{
    margin-bottom: 8px;
}