 .ant-form-item-label{
    text-align: left;
}
.ant-input-number{
    width: 100%!important;
}
.ant-input-number-input{
    text-align : right;
    padding-right: 26px;
}
.ant-form-item-label{
    overflow: visible;
}
.ant-form-item {
    padding-right: 10px;
}
.ant-modal-header{
    background-color: #00a8ff;
    padding: 10px 24px!important;
}
.ant-modal-title{
    color : #fff;
}
.ant-modal-close-x{
    line-height: 40px;
}
.sel-flex .ant-form-item{

}
.ant-form-item{
    margin-bottom: 8px;
}

// .ant-form-item-label > label::after

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after{
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}
.ant-form-item-explain.ant-form-item-explain-error{

}