 .ant-form-item-label{
    text-align: left;
}
.ant-input-number{
    width: 100%!important;
}
.ant-input-number-input{
    text-align : right;
    padding-right: 26px;
}
.ant-form-item-label{
    overflow: visible;
}
.ant-form-item {
    padding-right: 10px;
}