.header-container {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #0073ff , #0090ff, #00bdff);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.header-left {
    width: 224px;
    display: flex;
    padding-left: 12px;
}
.header-right {
    width: calc(100% - 224px);
}
.name-logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}