.selected-row {
    background-color: aqua;
}
.ant-table.ant-table-small{
    min-height: 480px;
}
.color-red{
    color : red!important ; 
}
.color-UNSENT{
    color : rgb(0, 123, 0)!important ; 
}
.color-PENDING{
    color : rgb(0, 0, 0)!important ; 
}
.color-REFUSE{
    color : rgb(255, 0, 0)!important ; 
}
.color-APPROVED{
    color : rgb(0, 0, 255)!important ; 
}
.table-row-select {
    background-color: rgb(85, 194, 228)!important;
}
thead .ant-table-cell {
    font-weight: bold!important;

}