.ant-modal{
    width: 800px!important;
}   
.ant-btn-type-2 {
    background-color: #1890ff!important;
    min-width: 100px;
    color: #fff;
    align-items: center;
}
.ant-btn-type-1 {

    min-width: 100px;
    align-items: center;
}

.body-modal {
    max-height: 400px;
    overflow-y: scroll;
}