.tab-p-left div{
    height: 30px;
}
.tab-p-right div{
    height: 30px;
}
.t-left {
    width: 25%;
    margin-right: 20px;
    font-size: 16px;
    display: block;
}

.t-right {
    width: 36%;
    margin-right: 20px;
    font-size: 16px;
    display: block;
}
.dt-left {
    width: 36%;
    color : #000;
    font-weight: 500;
    word-wrap: normal;
    // text-overflow: ellipsis;
}
.dt-right {
    width: 60%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 10px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 16px;
}
.ant-tabs-tab-btn{
    font-size: 16px;
}
.ant-tabs-content-holder {
    max-height: 180px;
    overflow-y: scroll;
}