.tab-p-left div{
    height: 30px;
}
.tab-p-right div{
    height: 30px;
}
.t-left {
    width: 40%;
    margin-right: 20px;
    font-size: 16px;
    display: block;
}
.t-left > div {
    height: 26px;
}
.t-right {
    width: 40%;
    margin-right: 20px;
    font-size: 16px;
    display: block;
}
.dt-left {
    width: 30%;
    color : #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dt-right {
    width: 70%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.h-w{
    height: 20p;
}