.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 50px);
}
.menu {
    border: none;
    width: 224px;
    height: calc(100vh - 50px);
    min-height: 500px;
    position: relative;
    display: inline-block;
    z-index: 10;
    background-color: #01b0ff;
}
.body-content {
    height: calc(100vh - 50px);
    width: calc(100% - 224px);

}
.content-table {

}
.t-detail {
    min-height: 400px;
}
.p-detail {
    min-height: 200px;
}